# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
*.egg-info/
*.egg

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log
local_settings.py

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Node / JS (if you have frontend)
node_modules/
npm-debug.log
yarn-error.log

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Others
*.bak
*.swp
